@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 33, 46, 47;
    --background-end-rgb: 33, 46, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
    display: flex;
    flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* .trad-ul {
    list-style-type: square;
    @apply  uppercase pl-6 tracking-wide text-sm
  }
  .trad-ul li {
    @apply text-white uppercase font-roboto font-medium
  } */

  .flex-center-col {
    @apply flex flex-col justify-center items-center
  }
  .flex-center-row {
    @apply flex flex-row justify-center items-center
  }
}

@layer base {
  select {
    @apply text-custYellow px-2 rounded-full bg-custHotpink
  }

  h1 {
    @apply text-7xl
  }
  h2 {
    @apply text-4xl
  }
  h3 {
    @apply text-2xl uppercase tracking-widest font-header font-semibold
  }

}

@layer components {
  .roundedBtn {
    @apply px-6 py-2 rounded-2xl
  }
}